*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: font-semisans;
    src: url('https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2');
}
@font-face {
    font-family: font-regularsans;
    src: url('https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2');
}
@font-face {
    font-family: font-mediumpoppins;
    src: url('https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-dc16a3592fdb61b620cc.woff2');
}
@font-face {
    font-family: font-boldpoppins;
    src: url('https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-9690ce6275ddc5645cfa.woff2');
}
@font-face {
    font-family: font-boldsans;
    src: url('https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2');
}

body{
    font-family: font-semisans, font-regularsans, font-mediumpoppins, font-boldpoppins, font-boldsans;
}
header{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    animation: imageSlider 15s infinite;
    transition: animation 0.3s ease-in-out;
}
@keyframes imageSlider{
    0%{
        opacity: 0.8;
        background-image: url(./Assets/bg-img1.jpg);
    }
    33%{
        opacity: 1;
        background-image: url(./Assets/bg-img1.jpg);
    }
    34%{
        opacity: 0.8;
        background-image: url(./Assets/bg-img2.jpg);
    }
    66%{
        opacity: 1;
        background-image: url(./Assets/bg-img2.jpg);
    }
    67%{
        opacity: 0.8;
        background-image: url(./Assets/bg-img3.jpg);
    }
    100%{
        opacity: 1;
        background-image: url(./Assets/bg-img3.jpg);
    }
}
.header-logo-login{
    padding: 24px 40px 0;
    display: flex;
    align-items: center;
}
.header-logo-login > a{
    display: inline-block;
    width: 273px;
    transform: translateY(2px);
}
.form-input{
    width: 100%;
    max-width: 940px;
    margin-left: 32px;
    transform: translateX(1px);
}
.search-input{
    background-color: white;
    border-radius: 4px;
    display: flex;
    height: 48px;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.search-input input{
    flex: 1;
    padding: 13px 16px;
    font-size: 16px;
    font-family: font-regularsans;
    border: none;
}
.search-input .francisco{
    border-left: 1px solid #ebebeb;
    color: #2d2e2f;
}
.search{
    min-width: 56px;
    border: none;
    background-color: rgba(224, 7, 7, 1);
}
.search svg{
    fill: white;
    transform: translateY(2px);
}
header nav{
    display: flex;
    justify-content: space-between;
    margin-left: 57px;
}
header nav span{
    padding: 8px;
    margin-right: 8px;
    transform: translateY(-2px);
}
header nav span a{
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    padding-right: 8px;
}
header nav button{
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
}
header nav button a{
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: white;
    font-family: font-mediumpoppins;
    white-space: nowrap;
    letter-spacing: -0.02ch;
}
header nav .login{
    border: 2px solid rgba(200, 201, 201, 1);
    background-color: transparent;
    margin-right: 10px;
}
header nav .signup{
    background-color: rgba(224, 7, 7, 1);
    transform: translate(1px, -1px);
}
.service-links{
    padding-inline: 40px;
}
.nav-link{
    margin-left: 112px;
    padding-left: 190px;
}
.nav-link ul{
    list-style-type: none;
    display: flex;
    gap: 4px;
    transform: translateY(1px);
}
.nav-link ul li{
    display: flex;
    padding: 16px 16px 20px;
}
.nav-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-family: font-regularsans;
}
.nav-link ul li span svg{
    fill: white;
    transform: translateY(-3px);
    padding-left: 4px;
}
.header-banner-text{
    max-width: 1224px;
    padding-inline: 47px;
    margin-inline: auto;
    width: 100%;
}
.header-banner-maintext{
    padding: 57px 0 90px;
    display: flex;
    gap: 32px;
    max-width: 528px;
}
.color-flow-container{
    height: 288px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.color-flow{
    width: 10px;
    border-radius: 5px;
    background-color: rgb(184, 174, 174);
    opacity: 0.7;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.color-flow::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    animation: colorflow 15s infinite;
}
.color-flow:nth-child(2)::after{
    animation-delay: 5s;
}
.color-flow:last-child::after{
    animation-delay: 10s;
}
@keyframes colorflow{
    33%, 66%, 100%{
        opacity: 1;
        background-color: white;
        height: 100%;
    }
}
.changing-text h1{
    font-size: 48px;
    line-height: 56px;
    font-family: font-boldpoppins;
    color: white;
    letter-spacing: -0.4px;
    margin: 8px 0 24px;
}
.changing-text-btn{
    padding: 12px 32px;
    background-color: rgb(224, 7, 7);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.changing-text-btn svg{
    margin-right: 8px;
    fill: white;
}
.changing-text-btn span{
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-family: font-mediumpoppins;
}
.header-banner-smalltext{
    padding-bottom: 70px;
    font-size: 14px;
    color: white;
}
.header-banner-smalltext .oscar{
    font-family: font-boldpoppins;
}
.photo-by{
    font-size: 14px;
}
main{
    max-width: 1224px;
    margin-inline: auto;
    padding: 56px 40px;
}
.main-header{
    text-align: center;
    margin-bottom: 48px;
}
.main-header h2{
    font-size: 28px;
    line-height: 36px;
    font-family: font-boldpoppins;
    letter-spacing: -0.4px;
}
.main-card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.main-card{
    border: 1px solid #ebebeb;
}
.main-card-user{
    padding: 16px 24px 16px 24px;
    display: flex;
    align-items: center;
}
.user-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-pic img{
    border-radius: 50%;
}
.user-info{
    margin-left: 9px;
}
.user-info h3{
    font-size: 16px;
    font-family: font-boldsans;
    line-height: 24px;
}
.user-info p{
    font-size: 14px;
    font-family: font-regularsans;
    color: rgb(45, 46, 47, 1);
}
.main-card-img{
    height: 93px;
}
.main-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-card-info{
    padding: 16px 24px 12px 24px;
}
.main-card-info p{
    font-size: 14px;
    font-family: font-boldsans;
    color: rgb(2, 122, 151, 1);
}
.main-card-rating{
    padding-top: 8px;
    padding-bottom: 3px;
    display: flex;
    gap: 2px;
}
.main-card-feedback{
    height: 60px;
}
.main-card-feedback p{
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(45, 46, 47, 1);
    font-family: font-regularsans;
}
.main-card-feedback a{
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-family: font-regularsans;
    font-weight: 600;
    letter-spacing: 0.02ch;
    text-decoration: none;
    color: rgb(2, 122, 151, 1); 
    padding-bottom: 10px;
}
.main-card-emoji-size{
    padding: 0 24px 16px 24px;
}
.main-card-emoji{
    padding-top: 10px;
    margin-top: -3px;
    display: flex;
    gap: 26px;
    border-top: 1px solid #ebebeb;
}
.main-card-emoji button{
    padding: 7px;
}
.main-card-emoji button{
    border: none;
    background-color: transparent;
}
.main-card-sub{
    padding: 16px;
}
.main-card-sub-user{
    display: flex;
    padding-inline: 8px;
}
.main-card-location{
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
    font-family: font-mediumpoppins;
    line-height: 20px;
    color: rgba(2,122,151, 1);
    padding-inline: 8px;
}
.main-card-like{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 16px;
}
.main-card-like-card{
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #ebebeb;
}
.main-card-like-card img{
    height: 168px;
    width: 155px;
    object-fit: cover;
}
.like-btn{
    padding: 7px;
}
.main-card-show{
    margin-top: 16px;
}
.main-card-show button{
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(2,122,151, 1);
}
.main-card-longimg-img{
    margin-top: 16px;
    margin-inline: -16px;
    border: none;
}
.main-card-longimg-like-card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.longimg-like-btn{
    padding: 19px;
}
.show-more{
    padding-block: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-more .svg-span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
}
.show-more .svg-span svg{
    fill: rgba(2,122,151, 1);
}
.show-more .activity{
    font-size: 14px;
    color: rgba(2,122,151, 1);
}
section{
    border-top: 1px solid #ebebeb;
}
.section-categories{
    padding: 48px 20px;
    margin-inline: auto;
    max-width: 1224px;
}
.section-categories h2{
    font-size: 28px;
    font-family: font-boldpoppins;
    color: rgba(45, 46, 47, 1);
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.4px;
}
.categories-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.categories-grid-card{
    padding-block: 48px;
    border: 1px solid #ebebeb;
    text-align: center;
    margin-inline: 20px;
    margin-top: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.categories-grid-card:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}
.categories-grid-card-img{
    margin-bottom: 17px;
}
footer{
    padding: 60px 0;
    background-color: #f7f7f7;
}
.footer-section{
    max-width: 1224px;
    padding-inline: 25px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-section-list{
    margin-inline: 16px;
}
.footer-section-list h3{
    font-size: 16px;
    line-height: 24px;
    color: rgba(45, 46, 47, 1);
    font-family: font-boldsans;
    margin-bottom: 14px;
}
.footer-section-list ul{
    list-style-type: none;
}
.footer-section-list ul li{
    margin-bottom: 6px;
}
.footer-section-list ul li a, .countries a{
    text-decoration: none;
    color: rgba(110, 112, 114, 1);
    font-size: 14px;
    font-weight: normal;
    font-family: font-regularsans;
}
.footer-section-list .last-list-heading{
    margin-bottom: 8px;
}
.footer-section-list .last-list li{
    margin-bottom: 16px;
}
.last-list li, .last-list li span, .countries ul li, .countries ul li span{
    display: flex;
    align-items: center;
    gap: 3px;
}
.last-list li span svg, .countries span svg{
    fill: rgba(110, 112, 114, 1);
}
.countries h3{
    margin-bottom: 8px;
}
.footer-section-list:last-child span{
    margin-left: 2px;
}
.copywrite{
    margin-top: 48px;
    max-width: 1224px;
    margin-inline: auto;
    padding-inline: 40px;
}
.copywrite p{
    font-size: 12px;
    color: rgba(110, 112, 114, 1);
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    font-family: font-regularsans;
}
.copywrite .copywrite-yelp{
    margin-left: 4px;
    margin-top: 2px;
}
.copywrite .copywrite-yelp img{
    width: 38px;
    height: 19px;
}
.copywrite .footer-yelp-logo{
    margin-inline: 3px;
}
.copywrite .footer-yelp-logo img{
    width: 14px;
    height: 16px;
}